#header{
    font-weight: bold;
}

#consentcontent{
    font-size: 16px;
}

#consentlabel, #noconsentlabel{
    display: flex;
    background: rgba(0,0,0,.06);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    cursor: pointer;
}

